# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env
*.env
.env.*
!.env.example

# Local SQLite Database
*.sqlite3
db.sqlite3

# Virtual Environments
venv/
.venv/
env/
ENV/

# Static and Media files
staticfiles/
media/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
